@import url(fonts.css);
body {
    background: #f1f1f1;
  }
  .side-menu {
    font-size: 14px;
    background: #fff;
    height: 160vh;
    width: 17.1429em;
  }
  
  .side-menu a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    color: #000000;
    display: block;
    padding: 0.8571em 0;
  }

  .side-menu.active {
    width: 5em;
  }

  .side-menu.active .text {
    display: none;
  }

  .side-menu a:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  .side-menu a:active {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .side-menu a svg {
    fill: #606060;
  }
  
  .side-menu a.active svg {
    fill: #f00;
  }
  
  .side-menu a .icon {
    margin-left: 1.8571em;
    display: inline-block;
    width: 1.4286em;
    text-align: center;
    vertical-align: middle;
  }
  
  .side-menu a .text {
    display: inline-block;
    margin-left: 1.8571em;
    vertical-align: middle;
  }
  
  hr {
    margin: 0.8571em 0;
  }
  
  .top-menu {
    background: #fff;
    margin-bottom: 3.5714em;
    display: flex;
    justify-content: space-between;
  }
  .top-menu a {
    text-decoration: none;
  }
  .trending {
    width: 1em;
  }
  .home {
    width: 1.4286em;
  }

  .subscriptions {
    width: 1.1857em;
}
  @media only screen and (max-width: 600px) {
    .side-menu {
      font-size: 11px;
    }
  }  
.bold {
  font-weight: 700;
}

.dropdown {
    width: 18px;
    height: 12px;
    padding-left: 27px;
    padding-top: 22px;
    padding-right: 28px;
}

.dot {
    padding-left: 83px;  
}

.subscriptions2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: #606060;
  padding-top: 16px;
  padding-left: 24px;    
}


.sidebar-footer-links,
footer p {
  font-family: Roboto;
  padding: 8px;
  margin-left: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #606060;
}

footer p {
  font-family: Roboto;
  font-weight: normal;
  color: #e5e5e5;
}